.scale-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    top: 120px;
    left: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 16px;
    z-index: 20;
    font-weight: 600;
    gap: 10px
}
.scale-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.scale-colors {
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    width: 10px;
}
.scale-colors div {
    height: 60px;
    border: 1px solid white;
}
.scale-tab {
  display: grid;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px;
  height: 360px;
  width: 22px;
  color: rgb(0, 0, 0);
  position: relative;
  top: -30px;
}
.scale-tab div {
    display: flex;
    justify-content: left;
    align-items: center;
}
